<app-header-image [backgroundImage]="'assets/images/others/banner_contact.jpeg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'Contactenos'"
                  [desc]="'Tiene alguna consulta? Estamos a su servicio.'">
</app-header-image>  

<div class="px-3"> 
    <div class="theme-container">
        <mat-card class="main-content-header mb-5"> 
            <div class="p-3"> 
                <div fxLayout="row wrap" fxLayoutAlign="space-around" >
                    <div fxFlex="100" fxFlex.gt-xs="33.3">
                        <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                            <mat-icon color="primary" class="mat-icon-lg">home</mat-icon>
                            <h3 class="primary-color py-1">DIRECCIONES :</h3>
                            <span>Av. Miraflores 2301</span>
                        </div>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <mat-icon color="primary" class="mat-icon-lg">call</mat-icon>
                            <h3 class="primary-color py-1">TELEFONOS :</h3>
                            <span>(212) 457-2308</span>
                            <span>(212) 457-2309</span>
                        </div>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <mat-icon color="primary" class="mat-icon-lg">mail_outline</mat-icon>
                            <h3 class="primary-color py-1">E-MAIL :</h3>
                            <span>coroda@gmail.com</span>
                            <span>coroda2@gmail.com</span>
                        </div>
                    </div>   
                </div>  

                <div fxLayout="row wrap" class="mt-5">  
                    <div fxFlex="100" fxFlex.gt-sm="50" class="py-3" [ngClass.gt-sm]="(settings.rtl) ? 'pl-5' : 'pr-5'"> 
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true" [fullscreenControl]="true" [styles]="(settings.theme == 'orange-dark') ? mapStyles : null">
                            <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false"></agm-marker>
                        </agm-map>
                    </div> 
                    <div fxFlex="100" fxFlex.gt-sm="50" class="py-3"> 
                        <img src="assets/images/others/about-1.jpg" alt="about-2" class="mw-100 mb-4">
                        <app-social-icons [iconSize]="'lg'" [iconColor]="'primary'" fxLayout="row" fxLayoutAlign="end center"></app-social-icons> 
                    </div> 
                </div> 
            </div>
        </mat-card>  
    </div> 
</div>
 
<!-- <div class="contact-map">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true" [fullscreenControl]="true" [styles]="(settings.theme == 'orange-dark') ? mapStyles : null">
        <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false"></agm-marker>
    </agm-map>
</div>   -->

<!-- <app-get-app></app-get-app>  -->