<div class="header bg-primary">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <h2 class="fw-500 secondary-font">Agregar Producto</h2>
        <app-dialog-header-controls [dialogRef]="dialogRef"></app-dialog-header-controls> 
    </div>   
</div>  
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content> 
        <mat-tab-group class="tab-content-wrapped">
            <mat-tab label="General Info"> 
                <div fxLayout="row wrap" class="mt-2">
                    <div fxFlex="100" fxFlex.gt-md="25" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Categoria</mat-label>
                            <mat-select formControlName="category" (selectionChange)="selectCategory($event.value)">
                                <mat-option *ngFor="let c of listCategorias" [value]="c.value">
                                    <span>{{c.value}}</span>
                                </mat-option>
                            </mat-select> 
                        </mat-form-field>
                    </div> 
                    <div fxFlex="100" fxFlex.gt-md="25" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Sub Categoria</mat-label>
                            <mat-select formControlName="subCategory" (selectionChange)="selectSubCategory($event.value)">
                                <mat-option *ngFor="let sc of listSubCategorias" [value]="sc.value">
                                    <span>{{sc.value}}</span>
                                </mat-option>
                            </mat-select> 
                        </mat-form-field>
                    </div> 
                    <div fxFlex="100" fxFlex.gt-md="25" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Modelo</mat-label>
                            <input matInput formControlName="model" required>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-md="25" class="px-3"> 
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="description">
                        </mat-form-field>
                    </div> 
                    <div fxFlex="100" fxFlex.gt-md="25" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Material</mat-label>
                            <input matInput formControlName="material">
                        </mat-form-field>
                    </div> 
                    <div fxFlex="100" fxFlex.gt-md="25" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Dimensiones</mat-label>
                            <input matInput formControlName="dimensions">
                        </mat-form-field>
                    </div> 
                    <div fxFlex="100" fxFlex.gt-md="25" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Color</mat-label>
                            <input matInput formControlName="color">
                        </mat-form-field>
                    </div> 
                    <div fxFlex="100"fxFlex.gt-md="25" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Precio Unitario</mat-label>
                            <input matInput formControlName="priceUnit">
                        </mat-form-field>
                    </div>
                </div>  
            </mat-tab>
            <mat-tab label="Imagen" formGroupName="restriction">
                <div fxLayout="row wrap" class="mt-2"> 
                    <div fxFlex="100" fxFlex.gt-md="100" class="px-3">
                        
                        <img width="700px" *ngIf="imageUrl" [src]="imageUrl" class="image">
                        <div class="image-upload">
                            <label for="file-input">
                                <mat-icon style="color:#c62828; font-size: 40px;">add_circle</mat-icon>
                            </label>
                            <input id="file-input" (change)="handleFileInput($event)" type="file"/>
                        </div>
                    </div> 
                </div>
            </mat-tab> 
        </mat-tab-group>  
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 px-1"> 
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </div> 
    </div>
</form>
 