<mat-card class="m-2 p-0">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
        <div></div>
    </div>
    <mat-divider></mat-divider>
    <div class="table-wrapper"> 
        <table mat-table [dataSource]="dataSource" matSort class="w-100">
        
            <!-- FullName Column -->
            <ng-container matColumnDef="typeOperation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Operacion </th>
                <td mat-cell *matCellDef="let customer">{{customer.typeOperation}} </td>
            </ng-container>  

            <!-- Username Column -->
            <ng-container matColumnDef="numberDocument">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero de documento </th>
                <td mat-cell *matCellDef="let customer">{{customer.numberDocument}} </td>
            </ng-container> 
    
            <!-- Email Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let customer">{{customer.client.name}} {{customer.client.lastName1}}</td>
            </ng-container>  
            
            <!-- Store Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                <td mat-cell *matCellDef="let customer">{{customer.client.phone}}</td>
            </ng-container>   

            <!-- Wallet Balance Column -->
            <ng-container matColumnDef="totalAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto total </th>
                <td mat-cell *matCellDef="let customer">{{customer.totalAmount | currency : 'PEN' : 'symbol' : '1.2-2'}}</td>
            </ng-container> 

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let customer"> 
                    <button mat-icon-button color="primary" (click)="openCustomerDialog(customer)" matTooltip="Ver detalle">
                        <mat-icon>visibility</mat-icon>
                    </button> 
                    <button mat-icon-button color="warn" (click)="openUpdateCotizacion(customer)" matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>  
                </td>
            </ng-container> 
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let customer; columns: displayedColumns;"></tr>
        </table> 
        <p *ngIf="dataSource && dataSource.data.length === 0" class="py-5 mb-0 text-center">No data available</p> 
    </div>
    <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</mat-card>