<div class="px-3 py-5">
    <div class="theme-container"> 
        <mat-sidenav-container class="checkout">
            
            <mat-sidenav-content ngClass.gt-sm="distance">
                <mat-card *ngIf="!sidenavOpen" fxLayout="row" fxLayoutAlign="space-between center" class="mb-3"> 
                    <h2 class="secondary-font"></h2>
                    <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon class="text-muted">more_vert</mat-icon>
                    </button>
                </mat-card>  

                <mat-accordion [formGroup]="checkoutForm" hideToggle>

                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" [disabled]="orderCompleted">    
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon *ngIf="checkoutForm.get('deliveryAddress')!.valid" color="primary">check_circle</mat-icon>
                                <mat-icon *ngIf="!checkoutForm.get('deliveryAddress')!.valid" class="text-muted">unpublished</mat-icon>
                                <span class="mx-2"></span>    
                            </mat-panel-title> 
                        </mat-expansion-panel-header> 
                        <form [formGroup]="formularioEncuesta" fxLayout="row wrap" class="flex-wrapper">
                            <div fxFlex="100" class="px-3 mb-4">
                                <h1 class="fw-500 text-center secondary-font">Por favor llene esta pequeña encuesta</h1>
                            </div> 
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex; flex-direction: column;">
                                <div style="width: 700px; ">
                                    <span class="px-1" style="font-size: 18px;">¿Te gustaría guardar todos tus pedidos en alguna cuenta de la empresa?</span>
                                </div>
                                <div style="text-align: center; margin-top: 15px;">
                                    <mat-radio-group aria-label="Select an option" formControlName="pregunta1" >
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente de Acuerdo">Totalmente de Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="De Acuerdo">De Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Neutro o Indiferente">Neutro o Indiferente</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="En Desacuerdo">En Desacuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente en Desacuerdo">Totalmente en Desacuerdo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex; flex-direction: column;"> 
                                <div style="width: 700px;">
                                    <span class="px-1" style="font-size: 18px;">¿Te gustan los beneficios que te brinda la cuenta de la empresa?</span>
                                </div>
                                <div style="text-align: center; margin-top: 15px;">
                                    <mat-radio-group aria-label="Select an option" formControlName="pregunta2">
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente de Acuerdo">Totalmente de Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="De Acuerdo">De Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Neutro o Indiferente">Neutro o Indiferente</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="En Desacuerdo">En Desacuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente en Desacuerdo">Totalmente en Desacuerdo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex; flex-direction: column;"> 
                                <div style="width: 700px;">
                                    <span class="px-1" style="font-size: 18px;">¿Crees que son adecuadas las características del producto que brinda la página?</span>
                                </div>
                                <div style="text-align: center; margin-top: 15px;">
                                    <mat-radio-group aria-label="Select an option" formControlName="pregunta3">
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente de Acuerdo">Totalmente de Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="De Acuerdo">De Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Neutro o Indiferente">Neutro o Indiferente</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="En Desacuerdo">En Desacuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente en Desacuerdo">Totalmente en Desacuerdo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex; flex-direction: column;"> 
                                <div style="width: 700px;">
                                    <span class="px-1" style="font-size: 18px;">¿Los productos ofertados en la página son los mismos que la empresa entrega?</span>
                                </div>
                                <div style="text-align: center; margin-top: 15px;">
                                    <mat-radio-group aria-label="Select an option" formControlName="pregunta4">
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente de Acuerdo">Totalmente de Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="De Acuerdo">De Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Neutro o Indiferente">Neutro o Indiferente</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="En Desacuerdo">En Desacuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente en Desacuerdo">Totalmente en Desacuerdo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex; flex-direction: column;"> 
                                <div style="width: 700px;">
                                    <span class="px-1" style="font-size: 18px;">¿Estás de acuerdo con la forma como realizan las cotizaciones?</span>
                                </div>
                                <div style="text-align: center; margin-top: 15px;">
                                    <mat-radio-group aria-label="Select an option" formControlName="pregunta5">
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente de Acuerdo">Totalmente de Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="De Acuerdo">De Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Neutro o Indiferente">Neutro o Indiferente</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="En Desacuerdo">En Desacuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente en Desacuerdo">Totalmente en Desacuerdo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex; flex-direction: column;"> 
                                <div style="width: 700px;">
                                    <span class="px-1" style="font-size: 18px;">¿Las cotizaciones están siendo elaboradas acorde a tus requerimientos?</span>
                                </div>
                                <div style="text-align: center; margin-top: 15px;">
                                    <mat-radio-group aria-label="Select an option" formControlName="pregunta6">
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente de Acuerdo">Totalmente de Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="De Acuerdo">De Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Neutro o Indiferente">Neutro o Indiferente</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="En Desacuerdo">En Desacuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente en Desacuerdo">Totalmente en Desacuerdo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex; flex-direction: column;"> 
                                <div style="width: 700px;">
                                    <span class="px-1" style="font-size: 18px;">¿Te parece adecuado el tiempo que se toman en responder tus pedidos?</span>
                                </div>
                                <div style="text-align: center; margin-top: 15px;">
                                    <mat-radio-group aria-label="Select an option" formControlName="pregunta7">
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente de Acuerdo">Totalmente de Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="De Acuerdo">De Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Neutro o Indiferente">Neutro o Indiferente</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="En Desacuerdo">En Desacuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente en Desacuerdo">Totalmente en Desacuerdo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex; flex-direction: column;"> 
                                <div style="width: 700px;">
                                    <span class="px-1" style="font-size: 18px;">¿Encuentras la información necesaria en un tiempo óptimo?</span>
                                </div>
                                <div style="text-align: center; margin-top: 15px;">
                                    <mat-radio-group aria-label="Select an option" formControlName="pregunta8">
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente de Acuerdo">Totalmente de Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="De Acuerdo">De Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Neutro o Indiferente">Neutro o Indiferente</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="En Desacuerdo">En Desacuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente en Desacuerdo">Totalmente en Desacuerdo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex; flex-direction: column;">
                                <div style="width: 700px;">
                                    <span class="px-1" style="font-size: 18px;">¿Le gusta la atención brindada por la empresa?</span>
                                </div>
                                <div style="text-align: center; margin-top: 15px;">
                                    <mat-radio-group aria-label="Select an option" formControlName="pregunta9">
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente de Acuerdo">Totalmente de Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="De Acuerdo">De Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Neutro o Indiferente">Neutro o Indiferente</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="En Desacuerdo">En Desacuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente en Desacuerdo">Totalmente en Desacuerdo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex; flex-direction: column;"> 
                                <div style="width: 700px;">
                                    <span class="px-1" style="font-size: 18px;">¿Recomendarías a la empresa por su calidad de servicio?</span>
                                </div>
                                <div style="text-align: center; margin-top: 15px;">
                                    <mat-radio-group aria-label="Select an option" formControlName="pregunta10">
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente de Acuerdo">Totalmente de Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="De Acuerdo">De Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Neutro o Indiferente">Neutro o Indiferente</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="En Desacuerdo">En Desacuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente en Desacuerdo">Totalmente en Desacuerdo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex; flex-direction: column;"> 
                                <div style="width: 700px;">
                                    <span class="px-1" style="font-size: 18px;">¿Considera a Coroda Automatic Door SAC como una empresa líder dentro del mercado?</span>
                                </div>
                                <div style="text-align: center; margin-top: 15px;">
                                    <mat-radio-group aria-label="Select an option" formControlName="pregunta11">
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente de Acuerdo">Totalmente de Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="De Acuerdo">De Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Neutro o Indiferente">Neutro o Indiferente</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="En Desacuerdo">En Desacuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente en Desacuerdo">Totalmente en Desacuerdo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex; flex-direction: column;"> 
                                <div style="width: 700px;">
                                    <span class="px-1" style="font-size: 18px;">¿Consideras que la empresa posee un crecimiento ascendente?</span>
                                </div>
                                <div style="text-align: center; margin-top: 15px;">
                                    <mat-radio-group aria-label="Select an option" formControlName="pregunta12">
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente de Acuerdo">Totalmente de Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="De Acuerdo">De Acuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Neutro o Indiferente">Neutro o Indiferente</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="En Desacuerdo">En Desacuerdo</mat-radio-button>
                                        <mat-radio-button style="margin-right: 15px;" value="Totalmente en Desacuerdo">Totalmente en Desacuerdo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div fxFlex="100"  class="px-3 mb-4" style="display: flex;"> 
                                <div style="width: 700px;">
                                </div>
                                <div>
                                    <a (click)="sendRespuesta()" mat-raised-button color="primary" class="mt-3">Enviar respuesta</a> 
                                </div>
                            </div>
                        </form>   
                    </mat-expansion-panel>
                  
                </mat-accordion>  

            </mat-sidenav-content>

            <mat-sidenav #sidenav position="end" [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'">
                <mat-card [perfectScrollbar]="psConfig"> 
                    <button fxHide="false" fxHide.gt-sm mat-mini-fab color="warn" class="close" (click)="sidenav.toggle()">
                        <mat-icon>close</mat-icon>
                    </button> 
                    <div fxLayoutAlign="start center">
                        <mat-icon class="text-muted">receipt_long</mat-icon>
                        <h2 class="secondary-font mx-2">Gracias por cotizar con nosotros!</h2>
                    </div>  
                    <div class="divider my-3"></div>
                    <div *ngFor="let menuItem of appService.Data.cartList" fxLayout="row" fxLayoutAlign="space-between start" class="mb-3">
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <img [src]="menuItem.image.small" width="60" alt="item"> 
                            <a [routerLink]="['/menu', menuItem.id]" class="menu-item-name px-2">{{menuItem.name}}</a>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="end end">
                            <span *ngIf="!menuItem.discount" class="fw-500"> 
                                {{menuItem.price | currency : 'PEN' : 'symbol' : '1.2-2'}}  
                            </span> 
                            <span *ngIf="menuItem.discount" class="fw-500">  
                                {{ (menuItem.price - (menuItem.price * (menuItem.discount / 100))) | currency : 'PEN' : 'symbol' : '1.2-2'}}
                            </span> 
                            <small class="text-muted ws-nowrap fw-500">Qty: {{menuItem.cartCount}}</small>
                        </div>  
                    </div>
                    <div style="height:250px; background-size:contain;background-image: url('assets/images/others/OpinionCuenta.jpeg');" fxLayout="column" fxLayoutAlign="center center" class="text-center py-2"> 
                       </div>
                </mat-card>  
            </mat-sidenav>
        </mat-sidenav-container> 
    </div>
</div>