<mat-toolbar color="primary" class="admin-toolbar mat-elevation-z2">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">  
        <div fxLayout="row" fxLayoutAlign="center center"> 
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>  
            <button mat-icon-button (click)="settings.rtl = !settings.rtl" matTooltip="LTR / RTL">
                <mat-icon>swap_horiz</mat-icon>
            </button> 
            <a mat-icon-button routerLink="/"><mat-icon>home</mat-icon></a>                 
        </div>            
        <div fxLayout="row" fxLayoutAlign="end center">   
            <app-user-menu></app-user-menu> 
        </div>
    </div>
</mat-toolbar>
<mat-drawer-container class="admin-container"> 
    <mat-drawer #sidenav [opened]="settings.adminSidenavIsOpened" [mode]="(settings.adminSidenavIsPinned) ? 'side' : 'over'" class="admin-sidenav mat-elevation-z6" autoFocus="false">
        <perfect-scrollbar>
            <div fxLayout="column" fxLayoutAlign="center center" class="user-block transition-2" [class.show]="settings.adminSidenavUserBlock"> 
                <div fxLayout="row" fxLayoutAlign="space-around center" class="user-info-wrapper">
                    <img [src]="userImage" alt="user-image">
                    <div class="user-info">
                        <p class="name">{{nombreUsuario}}</p>
                        <p class="position">Administrador<br></p>
                    </div>
                </div>
            </div> 
            <app-admin-menu [menuItems]="menuItems" [menuParentId]="0"></app-admin-menu>
        </perfect-scrollbar>
    </mat-drawer> 
    <mat-drawer-content>  
        <app-breadcrumb></app-breadcrumb>  
        <router-outlet></router-outlet>  
    </mat-drawer-content>    
</mat-drawer-container>