<!-- <mat-toolbar id="top-toolbar" class="top-toolbar">
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center"> 
      <app-contacts fxLayout="row" fxLayoutAlign="start center"></app-contacts>         
    </div>
    <app-social-icons fxLayout="row" fxLayoutAlign="start center" fxShow="false" fxShow.gt-md></app-social-icons>
    <div fxLayout="row" fxLayoutAlign="end center" class=""> 
      <app-lang></app-lang>
      <app-user-menu></app-user-menu>
    </div>    
  </div>           
</mat-toolbar>   -->
<mat-toolbar id="main-toolbar" class="mat-elevation-z2"> 
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <span fxHide="false" fxHide.gt-sm>
      <button mat-icon-button (click)="sidenavToggle()">
        <mat-icon class="mat-icon-lg">menu</mat-icon>
      </button> 
    </span>
    <img src="assets/images/others/LogoLargo.jpeg" class="img-logo"/>
    <a class="logo" routerLink="/" ></a> 
    <div fxShow="false" fxShow.gt-sm class="horizontal-menu">            
        <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
    </div> 
    <div fxLayout="row" fxLayoutAlign="start center">
      <!-- <button (click)="reservation()" mat-icon-button [matTooltip]="'RESERVATION' | translate" fxShow="false" fxShow.gt-xs="true">
        <mat-icon>book_online</mat-icon>
      </button>  -->
      <button *ngIf="isLogging" (click)="openCart()" mat-icon-button matTooltip="Solicitud">
        <mat-icon [matBadge]="appService.Data.totalCartCount" 
                  [matBadgeHidden]="appService.Data.totalCartCount == 0" 
                  matBadgeSize="small" 
                  matBadgeColor="warn">receipt_long</mat-icon>
      </button>  
       <a *ngIf="isLogging" [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger" mat-icon-button matTooltip="Cuenta" class="mx-2"  fxShow="false" fxShow.gt-xs="true">
          <mat-icon>person</mat-icon>
          <mat-icon>arrow_drop_down</mat-icon>
            <mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-menu-panel user-menu">
                <span (mouseleave)="userMenuTrigger.closeMenu()">
                    <div fxLayout="row" fxLayoutAlign="start center" class="user-info">                   
                        <img src="assets/images/others/user.jpg" alt="user-image" width="50">
                        <p class="m-0">{{nombreUsuario}}<br> <small><i></i></small></p>
                    </div>
                    <div class="divider"></div>
                    <div class="divider"></div>
                    <a mat-menu-item href="/admin" *ngIf="isAdmin"> 
                      <mat-icon class="mat-icon-sm">admin_panel_settings</mat-icon>
                      <span>Vista administrativa</span> 
                    </a>
                    <a mat-menu-item (click)="logout()"> 
                        <mat-icon class="mat-icon-sm">power_settings_new</mat-icon>
                        <span>Salir de sesion</span> 
                    </a>
                </span>
            </mat-menu>  
      </a> 
    </div>   
  </div>     
</mat-toolbar>